{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload the files</title>
    <link rel="stylesheet" type="text/css" href="{% static 'form_css/form.css' %}">
    <script>
        $("form").on("change", ".file_field", function(){ 
         $(this).parent(".file-upload-wrapper").attr("data-text",$(this).val().replace(/.*(\/|\\)/, '') );});
     </script>
</head>

<body style="text-align: center;">
    <div class="container">
    {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action="/home/upload/" class="form">
        {% csrf_token %}
        {% else %}
        <form method="post" action="/home/upload/" class="form">
            {% endif %}
            <h3>Select Files to upload</h3>
            <label for="file_field">Select class_strength file:</label>
            <div class="file-upload-wrapper" data-text="Select your file!">
                <input name="file_field" type="file" class="file_field" value="" required>
            </div>
            <br />
            <label for="file_field">Select courses_basket_semester file:</label>
            <div class="file-upload-wrapper" data-text="Select your file!">
            <input name="file_field" type="file" class="file_field" value="" required>
            </div>
            <br />
            <label for="file_field">Select courses_faculty file:</label>
            <div class="file-upload-wrapper" data-text="Select your file!">
            <input name="file_field" type="file" class="file_field" value="" required>
            </div>
            <br />
            <input type="submit">
        </form>
    </div>
</body>

</html>