{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> TIME TABLE ASSIST TOOL</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home_css/home.css' %}">
</head>
<body>
    <h2 class="top_msg">Welcome to home page for Time Table Assit Tool</h2>
    <a class="link_to_upload" href="http://127.0.0.1:8000/home/upload">UPLOAD FILES</a>
    <h3 class="footer_msg">Thankyou for using our Tool</h3>
</body>